/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-image: url("../images/cover-image-dark.png");
  --bg-color: #000028;
  --section-text-color: #f1b2ce;
  --section-title-color: #ff0070;
  --header-title-color: #db00ff;
  --accent-color: #ff0070;
  --text-title-color: #000028;
  --border-color: #ff0070;
  --button-hover-color: rgba(255, 0, 112, 0.4);
  --footer-shadow: #ff0070;
}
.theme-dark .rec__label {
  display: inline-flex;
}
@media (prefers-color-scheme: dark) {
  :root {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
    --bg-image: url("../images/cover-image-dark.png");
    --bg-color: #000028;
    --section-text-color: #f1b2ce;
    --section-title-color: #ff0070;
    --header-title-color: #db00ff;
    --accent-color: #ff0070;
    --text-title-color: #000028;
    --border-color: #ff0070;
    --button-hover-color: rgba(255, 0, 112, 0.4);
    --footer-shadow: #ff0070;
}
  .rec__label {
    display: inline-flex;
  }
}