/* Глобальные стили для проекта, их можно дополнять и менять по желанию */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-inline-size: 375px;
  max-inline-size: 1440px;
  margin: 0 auto;
  font-family: var(--font-family-main);
  font-size: var(--accent-size);
  line-height: var(--line-height);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-size: var(--accent-size);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
picture {
  margin: 0;
  padding: 0;
}
button,
a {
  color: currentColor;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
