/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --font-family-main: 'IBM Plex mono', Helvetica, sans-serif;
  --fw-regular: 400;
  --fw-bold: 700;
  --accent-size: 18px;
  --font-size-title-mobile: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --font-size-title-desktop: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --line-height: 1.3;
  --text-lowercase: lowercase;
  --text-uppercase: uppercase;
}
